@import 'reset.css';

html {
    font-size: 62,5%;
    box-sizing: border-box;
    display: block;
    font-family: sans-serif;
    /* line-height:18,4px;  */
    text-size-adjust: 100%;
    
  }/*Bir font mevcut değilse, tarayıcı belirtilen ikinci fontu kullanır. 
      Bu yazı tipi boyutu için büyük bir değişikliğe neden olabilir. Bunu önlemek için 
      font-size-adjust özelliğini kullanın */
    body {
        background-color: #ffffff;
      color: #757575;
      font-family: Roboto, sans-serif;
      /* line-height: 1.6;  */
      display: block;
  }
        
    *,
    :after,
    :before {
      box-sizing: inherit;
    }
      .container {
        width: 100%;
        height: auto;
        margin-left:30px;
     /* Site sola kaydı bizde yama yaptık ama asıl problemi bulmaya çalışalım */
        background-color: #ffffff;
  }
  
        .global-header {
          width: 100%;
         
            margin-top:10px;
          display: flex;
          background-color: #ffffff;
          position:relative;
            z-index: 2;
  }
  
          .global-header__logo {
            width: 50%;
            height: 100%;
            padding-left:100px;
            box-sizing: border-box;
            margin-top:10px;
            position:relative;
          
           /* margin-left:-70px; */
        }
        .logo-banner {
            position:absolute;
            left:30px;
        }
           
         
          .logo-banner>a:nth-child(n+1) {
              text-decoration: none;
              font-size:22px;
              color:#757575;
             
          }
          .logo-banner>a:nth-child(3) {
              margin-left:24px;
              font-size:16px;
          }
       .lang {
           margin-right:60px;
       }

          .icon {
            display: inline-block;
            font-size:22px;
            width: 1em;
            height: 1em;
           
            stroke-width: 0;
            stroke: currentColor;
            fill: currentColor;
            background-color: #fff;
            margin-right:-3px;
            margin-left:5px;
          }

          

          .span-1 {
              color:red;
              font-size:22px;
              font-weight:bold;
          }
          .span-2 {
            color:yellow;
            font-size:22px;
            font-weight:bold;
        }
        .span-3{
            color:blue;
            font-size:22px;
            font-weight:bold;
        }
        .span-4 {
            color:green;
            font-size:22px;
            font-weight:bold;
        }
        .span-5 {
            color:red;
            font-size:22px;
            font-weight:bold;
        }

          .global-header__nav {
            width: 50%;
            line-height:50px;
          
           margin-right:50px;
            
            position:relative;
            z-index: 2;
         
            
          
            font-size: 0.9rem; /*İncelenmeli burayı artırınca ikon artıyor ama direk ikonun koydu
            ğumuz yerde font-size artırınca artmıyor buna bakalım */
           /* padding: 0 5px; */
             /* padding:10px 0 10px 0; Paddingi burdan verince kutu kayıyor o zaman a dan paddin vermeyi deneriz*/
              box-sizing:border-box;
  }

  .fa-search{
   display:none; 
   position:absolute;
   right:-7px;
   top:17px;
   font-size:20px;
}

            .global-header__menu{
              list-style: none;
              margin-right: 20px;
              padding: 0;
  
              display: flex;
              justify-content: space-evenly;
  }


              .common-li {
                flex: 2 2 33.333%;
               
                margin:0;
                text-align: center;
                
                  }   
  
                  .header-menu {
                   display: block;
                   text-decoration: none;
                  
                }   
                       
                   
    .global-header__consumer:hover {
       
        background-color:#eeee;
            
          }
             
              
              /* Marketing resources alt menü işlemleri başlangıç */
   .global-header__marketing {
               
                position: relative;
                
  }
                
  
      .global-header__marketing:hover {
                 background-color:#eeee;
                 width:100%;
                 display:block;
        } 
        .global-header__marketing:hover>ul {
            display:block;
            background-color:#eeee;
        }
        .global-header__menu>li>a {
            padding-top:15px;
            box-sizing:border-box;
            display:block;
        }
                  
        
           
                               
  .global-header__marketing:hover >.marketing::after {
                   content: "\f106";
                   font-family: "Font Awesome 5 Free";
                   font-weight: 900;
                   width:20px;
                   height:10px;
                   display:inline-block;
                }
                .marketing::after {
                  content:"\f107";
                   font-family: "Font Awesome 5 Free";
                   font-weight: 900;
                   width:20px;
                   height:10px;
                   display:inline-block;
                   }
                 
                
               /*Burda yukarda zaten li üzerine gelince diye bir hover tanımlamışız bir de ayrıca 
               a için bir hover tanımlamışız burası fazla olmuş gözüküyor 
                .marketing:hover+.marketing__submenu {
                    display:block;
                    background-color:#eeee;
                }
                 */
               
               
  
                .marketing__submenu {
                    display:none;
                    position:absolute;
                    list-style: none;
                    margin-top: 0px;
                    padding: 0;
                    
                    width:120%;
                     background-color:#eeee;
  }
                   .marketing-link {
                    margin-top:0;
                    padding:0;
                  }
                  .marketing-link:hover {
                    background:#bdbdbd;
                    
                  }
                  
                  
                  .marketing-link > a{
                    text-decoration:none;
                    
                  }
                 
                 .marketing__submenu:hover {
                    display:block;
                 }
                  
                  hr{
                    margin:0 20px;
                  }
                  
           
              
              /* Marketing resources alt menü işlemleri bitiş */
              .global-header__advertising {
                 position: relative;
  }
             .global-header__advertising:hover {
                 background-color:#eeee;
                 width:100%; }
              .global-header__advertising:hover >.advertising::after {
                content: "\f106";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                width:20px;
                height:10px;
                display:inline-block;
             }
             .advertising::after {
               content:"\f107";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                width:20px;
                height:10px;
                display:inline-block;
                }

                .global-header__advertising:hover >.advertising__submenu {
                   display:block; }
                .advertising+.advertising__submenu {
                   
                    background-color:#eeee;
                }
                .advertising__submenu {
                    display:none;
                    position:absolute;
                    list-style: none;
                    margin-top: 0px;
                    padding: 0;
                    left:-20%;
                    width:120%;
                     background-color:#eeee;
  }

  .advertising-link {
    margin-top:0;
    padding:0;
  }
  
  
  
  .advertising-link > a{
    text-decoration:none;
    
  }
 
 .advertising__submenu:hover {
    display:block;
 }

 .advertising-link:hover {
    background:#bdbdbd;
    
  }
/* Search Kısmı */
.global-header__menu {
    margin-right:20px;
   
}
.global-header__menu::after {

                content:"\f002";
                font-family: "Font Awesome 5 Free";
                font-weight:900;
                width:40px;
                transform:scale(1.3);
               
                display:inline-block;
                margin-left:20px;
                position:absolute;
                top:0px;
               right:-40px
            }
               
               
.global-header__menu::after :hover{
            background-color:blue;
               }
               .main-content {
                   width:100;
                   height:auto;
                   position: relative;
               }
               .header_alt {
                   width:100%;
                 
               }
              .image {
                  max-width:100%;
                 /* margin-top: -50px; */
                 
              
               
                  
              }
              .top-wrap {
                  position:absolute;
                  width:100%;
                  top:50px;
                  left:130px;
                  display:flex;
                  text-align:left;
                  justify-content: space-between;
               /*   background-color:green; */
              }

              .top-left{
               width:100px;

              
               
              }

              .top-right {
                  position:absolute;
                  bottom:0px;
                  right:165px;
                  width:270px;
                  margin-right:auto;
                  bottom:0px;
              
                
              }
              .top-right > a {
                color:#3367d6;
                text-decoration:none;
                font-family:Roboto, sans-serif;
                font-size:14px;
                font-weight: bolder;
             

               

              }

              .top-right >a::after {
                content:"\f0a9";
                font-family: "Font Awesome 5 Free";
                font-weight:900;
                width:40px;
                transform:scale(1.3);
                margin-top:-3px;
                display:inline-block;
                margin-left:20px;
                
              }

              .insights {
                width:370px;
                line-height:50.7px;
                /* word-wrap:break-word; */
                font-family:Roboto, sans-serif;
                font-size:35px;
                font-style: normal;
                color:#424242;
               

              }
              .stay-on {
                  margin-top:30px;
                  width:280px;
              }

              .subscribe {
                  margin-top:20px;
                  margin-left:5px;
                  box-sizing: border-box;
                  padding:0 25px;
                  height:45px;
                  font-size:14px;
                  font-family:Roboto, sans-serif;
                  line-height: 45px;
                  text-align: center;
                  background-color:yellow;
                  display:inline-block;
                  text-decoration: none;
                  color:#ffffff;
                  background-color:#4285f4;
                 }

                 .first-row-wrap {
                    width:100%;
                    height:auto;
                    background-color:#F5F5F5;
                    
                    padding-top:40px;
                   
                 }
                 .first-row-wrap > h2 {
                     width:100%;
                     height:50px;
                     margin-left:25px;
                     margin-bottom:10px;
                     line-height:50.7px;
                /* word-wrap:break-word; */
                font-family:Roboto, sans-serif;
                font-size:30px;
                font-style: normal;
                color:#424242;
                    
                 }

                 .first-row {
                    width:100%;
                    background-color:#F5F5F5;
                    
                    padding-right:15px;
                    padding-left:15px;
                    
                    display:flex;
                    justify-content:space-evenly;
                }
                    
                 
                 
                 .first-row>div>img {
                     max-width:100%;
                    /* min-height:340px; */
                     object-fit: cover;
                     object-position:center;
                  
                    }
                     
                    
                     
                

                 .first-row>div:nth-child(1) {
                    flex:2 2 50%;
                    margin:10px;
                     
                 }
                 .first-row>div:nth-child(2) {
                    flex:2 2 25%;
                    margin:10px;
                     
                 }
                 .first-row>div:nth-child(3) {
                    flex:2 2 25%;
                    margin:10px;
                     
                 }
                 /*Second row class lı resimleri yerleştirme */

                 .second-row {
                    width:100%;
                    background-color:#F5F5F5;
                    padding-right:15px;
                    padding-left:15px;
                    display:flex;
                    justify-content:space-evenly;
                     padding-bottom:50px; /* */
                   
                 
                }
                  
                .second-row>div>img {
                    max-width:100%;
                   /* min-height:340px; */
                    object-fit: cover;
                    object-position:bottom;
                 
                   }   
                

                 .second-row>div:nth-child(n+1):nth-child(-n+2) {
                    flex:2 2 calc(25% - 20px);
                    margin:10px;
                     
                 }
                /* .second-row>div:nth-child(2) {
                    flex:2 2 25%;
                    margin:10px;
                     
                 }  */
                 .second-row>div:nth-child(3) {
                    
                    flex:2 2 50%;
                    margin:10px;
                     
                 }

                 /*image-1 resim içi yazı */
                 .image-1-wrap::after {
                    content:" ";
                    position:absolute;
                    width:100%;
                    height:100%;
                    top:0;
                    bottom:0;
                    right:0;
                    left:0;
                    background-color:#000;
                    z-index: 2;
                    opacity:0.3;
                    }
                    

                .image-1-wrap {
                     position:relative;
                    }
                    .image-1div {
                       position:absolute;
                       left:30px;
                       bottom:30px;
                       color:#fff;
                      }
                      .image-1p {
                         font-size:16px;
                         margin-bottom:60px;
                         position:relative;
                         z-index: 3;
                        }
                        .image-1span {
                           font-size:14px;
                           display:block;
                           width:200px;
                           margin-bottom:10px;
                           position:relative;
                           z-index: 3;
                        } 
                            
                            /*image-3 resim içi yazı */

                .image-3-wrap {
                    position:relative;
                   }
                   .image-3-wrap>img {
                       position:relative;
                       z-index:3;
                       max-width:100%;
                   }
                   .image-3div {

                      /* position:absolute;
                      z-index:2;
                      left:0px;
                      bottom:0px; */
                      width:100%;
                      height:50%;
                      background-color:#fff;
                      margin-top:-3px;
                      
                      color:#000;
                      box-sizing:border-box;
                      padding-top:20px;
                      padding-left:30px;
                      /* border:1px solid #000; */
                     }
                     .image-3p {
                         width:80%;
                        font-size:15px;
                        margin-bottom:55px;
                        text-align: center;
                        line-height:25px;
                        margin-left:10px;
                    }
                    .image-3span {
                       font-size:12px;
                       margin-left:25%;
                       } 

                        /*image-thumbnail resim içi yazı */
                        .thumbnail-wrap-wrap {
                            position:relative;
                           }
                           .thumbnail-wrap>img {
                               position:relative;
                               z-index:3;
                           }
                           .image-thumbnaildiv {
        
                              /* position:absolute;
                              z-index:2;
                              left:0px;
                              bottom:0px; */
                              width:100%;
                              height:50%;
                              background-color:#fff;
                              margin-top:-3px;
                              
                              color:#000;
                              box-sizing:border-box;
                              padding-top:20px;
                              padding-left:30px;
                              /* border:1px solid #000; */
                             }
                             .image-thumbnailp {
                                 width:80%;
                                font-size:15px;
                                margin-bottom:55px;
                                text-align: center;
                                line-height:25px;
                                margin-left:10px;
                            }
                            .image-thumbnailspan{
                               font-size:12px;
                               margin-left:25%;
                               } 

                                 /*image-4 resim içi yazı */

                .image-4-wrap {
                    position:relative;
                   }
                   .image-4-wrap>img {
                       position:relative;
                       z-index:3;
                   }
                   .image-4div {

                      /* position:absolute;
                      z-index:2;
                      left:0px;
                      bottom:0px; */
                      width:100%;
                      height:53%;/*burasının %53 yaptık yukardakiler 50% de oturdu bu neden böyle oldu acep?? */
                      background-color:#fff;
                      margin-top:-2px;
                      
                      color:#000;
                      box-sizing:border-box;
                      padding-top:20px;
                      padding-left:30px;
                      /* border:1px solid #000; */
                     }
                     .image-4p {
                         width:80%;
                        
                        font-size:15px;
                        margin-bottom:70px;
                        text-align: center;
                        line-height:25px;
                        margin-left:10px;
                    }
                    .image-4span {
                       font-size:12px;
                       margin-left:20%;
                       } 
                         /*image-2 resim içi yazı */

                .image-2-wrap {
                    position:relative;
                   }
                   .image-2-wrap>img {
                       position:relative;
                       z-index:3;
                   }
                   .image-2div {

                      /* position:absolute;
                      z-index:2;
                      left:0px;
                      bottom:0px; */
                      width:100%;
                      height:53%;/*burasının %53 yaptık yukardakiler 50% de oturdu bu neden böyle oldu acep?? */
                      background-color:#fff;
                      margin-top:-3px;
                      
                      color:#000;
                      box-sizing:border-box;
                      padding-top:20px;
                      padding-left:30px;
                      /* border:1px solid #000; */
                     }
                     .image-2p {
                         width:80%;
                        font-size:15px;
                        margin-bottom:45px;
                        text-align: center;
                        line-height:25px;
                        margin-left:10px;
                    }
                    .image-2span {
                       font-size:12px;
                       margin-left:25%;
                       } 
                       /*image-5 resim içi yazı */

                .image-5-wrap {
                    position:relative;
                   }
                   .image-5div {
                      position:absolute;
                      left:30px;
                      bottom:30px;
                      color:#fff;
                     }
                     .image-5p {
                         width:70%;
                        font-size:16px;
                        line-height:25px;
                        margin-bottom:80px;
                       }
                       .image-5span {
                          font-size:12px;
                          }  
                        
                          .article-main {
                              width:100%;
                              height:auto;
                              padding:0 18px;

                          }

                          .article-content {
                              width:100%;
                              display:flex;
                              justify-content:space-between;
                              align-items: flex-start;/*Burada üst başlık hizalarını eşitleriz bu şekilde
                              önemli bir işimizi görmüş oldu */

                          }

                          .article-1 {
                          flex:1 1 33%;
                          margin:10px;
                         
                           display:flex;
                           flex-direction:column;
                           justify-content:space-evenly;

                        }
                        .article-1>h3 {
                            margin-bottom:20px;
                        }
                        .article-1 a:nth-child(n+1):nth-child(-n+5) {
                            margin-bottom:15px;
                        }

                        .article-2 {
                            flex:1 1 33%;
                            margin:10px;
                            
                            display:flex;
                           flex-direction:column;
                           justify-content:space-evenly;
                          }
                          .article-2>h3 {
                            margin-bottom:20px;
                        }
                        .article-2 a:nth-child(n+1):nth-child(-n+3) {
                            margin-bottom:15px;
                        }
                          
                          
                          .article-3 {
                            flex:1 1 33%;
                            margin:10px;
                           
                            display:flex;
                           flex-direction:column;
                           justify-content:space-evenly;
                          }
                          .article-3>h3,p,a {
                            margin-bottom:20px;
                        }
                        .article-3>p,a {
                            font-size:14px;
                            line-height:24px;
                        }
                        
                        .article-content a {
                            text-decoration:none;
                            display:block;
                            font-size:14px;
                            color:#4285f4;
                            

                        }
                        .article-content h3 {
                            color:#424242;
                            font-size:18px;
                            font-family:Roboto, sans-serif;

                        }
                        .article-main>h2 {
                            margin-left:10px;
                            margin-top:50px;
                            margin-bottom:40px;
                            font-size:28px;
                            font-family:Roboto,san-serif;
                        }

                        .section-tools {
                            width:100%;
                            height:auto;
                        }
                        .section-tools >h2 {

                            margin-left:30px;
                            margin-top:50px;
                            margin-bottom:40px;
                            font-size:28px;
                           
                        }
                   
                    .figure-tools {
                        width:100%;
                        height:auto;
                        display:flex;
                        justify-content:space-evenly;
                        padding:0 20px;
                    }
                    .figure-tools>div>img {
                        width:100%;
                        height:40%;
                        object-fit: cover;
                        object-position: center;
                        box-sizing:border-box;
                        
                    }
                          .figure-tools>div:nth-child(n+1) {
                        flex:1 1 25%;
                        margin:10px;
                    }
                    .figure-tools a {
                        color:#4285f4;
                    }
                 
                   /* %25 image culture */ 
                    .image-culture {
                        
                        width:100%;
                        height:auto;
                        /*padding ile yazılarımızın sağa sola aşağı yukarı boşluklarını ayarlıyoruz ancak biz buradan ayarlarken üstteki resim
                        kısmını boyutu büyüyor bu neden olabilir.Bende img height 45% yi 40% a indirdim o zaman tam oturdu */
                    padding:20px 30px 10px 20px;   
                        box-sizing:border-box;
                       
                    }
                    .culture {
                       
                        background-color: #fff;
                        box-shadow: 1px 1px 5px;
                        position:relative;
                    }
                       
                  .image-culture-h3 {
                    color:#424242;
                    font-size:16px;
                    font-family:Roboto, sans-serif;
                    /* margin:20px 0 0 20px; */
                  }
                  .image-culture-p {
                      margin-top:20px;
                      line-height:20px;
                      font-size:12px;
                      margin-bottom:80px;
                     /* margin:20px 40px 10px 20px; */
                  }
                  .image-culture-a {
                      text-decoration:none;
                     font-size:12px;
                     font-weight: bolder;
                     /* margin:20px 0 10px 20px; */
                     position:absolute;
                     bottom:0;

                  }

                     /* %25 image -competitive */ 
                     .image-competitive {
                        
                        width:100%;
                        height:auto;
                        /*padding ile yazılarımızın sağa sola aşağı yukarı boşluklarını ayarlıyoruz ancak biz buradan ayarlarken üstteki resim
                        kısmını boyutu büyüyor bu neden olabilir.Bende img height 45% yi 40% a indirdim o zaman tam oturdu */
                        padding:20px 30px 10px 20px;   
                        box-sizing:border-box;
                    
                       
                    }
                    .competitive {
                       
                        background-color: #fff;
                        position:relative;
                        box-shadow: 1px 1px 5px;
                    }
                       
                  .image-competitive-h3 {
                    color:#424242;
                    font-size:16px;
                    font-family:Roboto, sans-serif;
                    /* margin:20px 0 0 20px; */
                  }
                  .image-competitive-p {
                      margin-top:20px;
                      line-height:20px;
                      font-size:12px;
                     /* margin:20px 40px 10px 20px; */
                  }
                  .image-competitive-a {
                      text-decoration:none;
                     font-size:12px;
                     font-weight: bolder;
                     display: block;
                     position:absolute;
                     bottom:0px;
                 

                    
                     /* margin:20px 0 10px 20px; */

                  }

                  /* %25 image consumer */ 

                  .image-consumer {
                        
                    width:100%;
                    height:auto;
                    /*padding ile yazılarımızın sağa sola aşağı yukarı boşluklarını ayarlıyoruz ancak biz buradan ayarlarken üstteki resim
                    kısmını boyutu büyüyor bu neden olabilir.Bende img height 45% yi 40% a indirdim o zaman tam oturdu */
                padding:20px 30px 10px 20px;   
                    box-sizing:border-box;
                   
                   
                }
                .consumer {
                   
                    background-color: #fff;
                    box-shadow: 1px 1px 5px;
                    position: relative;
                    
                }
                   
              .image-consumer-h3 {
                color:#424242;
                font-size:16px;
                font-family:Roboto, sans-serif;
                /* margin:20px 0 0 20px; */
              }
              .image-consumer-p {
                  margin-top:20px;
                  line-height:20px;
                  font-size:12px;
                 /* margin:20px 40px 10px 20px; */
              }
              .image-consumer-a {
                  text-decoration:none;
                 font-size:12px;
                 font-weight: bolder;
                 /* margin:20px 0 10px 20px; */
                 position:absolute;
                 bottom:0px;

              }

               /* %25 image diagnostic */ 

               .image-diagnostic {
                        
                width:100%;
                height:auto;
                /*padding ile yazılarımızın sağa sola aşağı yukarı boşluklarını ayarlıyoruz ancak biz buradan ayarlarken üstteki resim
                kısmını boyutu büyüyor bu neden olabilir.Bende img height 45% yi 40% a indirdim o zaman tam oturdu */
            padding:20px 30px 10px 20px;   
                box-sizing:border-box;
               
               
            }
            .diagnostic {
               
                background-color: #fff;
                box-shadow: 1px 1px 5px;
                position:relative;
              
            }
               
          .image-diagnostic-h3 {
            color:#424242;
            font-size:16px;
            font-family:Roboto, sans-serif;
            /* margin:20px 0 0 20px; */
          }
          .image-diagnostic-p {
              margin-top:20px;
              line-height:20px;
              font-size:12px;
             /* margin:20px 40px 10px 20px; */
          }
          .image-diagnostic-a {
              text-decoration:none;
             font-size:12px;
             font-weight: bolder;
             /* margin:20px 0 10px 20px; */
             position:absolute;
             bottom:0;

          }

          .tolls-button {
              width:144px;
              height:40px;
              line-height:40px;
              margin:40px auto;
              background:#4285f4;
              color:#fff;
              text-align:center;
              border-radius:3px;
          }
          .tolls-button>a {
              text-decoration:none;
              color:#fff;
              font-size:16px;
              font-family:Roboto,sans-serif;
              font-weight: bold;
          }

        footer {

            width:100%;
            height:auto;
            background-color:#3367d6;
            padding-top:10px;
            border:1px solid #3367d6; /*Kenarlık verdikten sonra footer ın enaltına
            language-choose classına verdiğim margin bottom uyguladı normalde uygulamdaı
            height auto olması ile alakalı galiba */
            
        }

        footer>h2 {
            font-size:28px;
            color:#fff;
            font-family:Roboto, sans-serif;
            margin:50px 0 34px 140px;
            font-weight: normal;
          
        }

        .footer-button {
            width:120px;
            height:44px;
            border-radius:2px;
            margin-left:140px;
            margin-bottom:34px;
            background-color:#fff;
            text-align:center;
        }
        .footer-button>a {
           
            line-height:44px;
            font-weight: bold;
            font-size:14px;
            font-family:Roboto, sans-serif;
            text-decoration:none;
            
            color:#3367d6;
        }

        .footer-nav {
            width:100%;
            margin-left:34px;
            margin-top:28px;
            margin-bottom:28px;
        }
        .footer-nav > a {
            text-decoration:none;
            font-size:14px;
            color:#fff;
        } 
        .footer-nav>a:nth-child(1) {
            font-size:25px;
            font-family:arial, sans-serif;
        }   
       
        .footer-nav>a:nth-child(n+1) {
            margin-right:20px;
        }
        .footer-bottom {
            width:100%;
            height:auto;
            padding-left:34px;
            margin-bottom:28px;
            
            box-sizing: border-box;
            display:flex;
            justify-content:space-between;
        }
        .language-choose>a {
            text-decoration:none;
            color:#fff;
            font-size:16px;
            font-family:Roboto,sans-serif;
        }
   
        .language-choose::after {
            content:"\f107";
            font-family: "Font Awesome 5 Free";
            font-weight: 700;
            font-size:14px;

            color:#fff;
            margin-left:95px;
            width:20px;
            height:5px;
            display:inline-block;
        }

        .footer-icons {
            margin-right:34px;
        }
        .footer-icons > a {
            color:#fff;
            font-size:20px;
            display:inline-block;
        }
        .footer-icons > a:nth-child(n+1) {
            margin-left:15px;
        }

        @media only screen and (min-width:1050px) and (max-width:1200px)  { 

    .global-header__nav{
        background-color:yellow;
        display:none;    

        }
       
        .logo-banner::before {
            content:"\f0c9";
                font-family: "Font Awesome 5 Free";
                font-weight:900;
                width:40px;
                display:inline-block;
                margin-left:0px;
                position:absolute;
                left:-20px;
                top:5px;
            }
            .logo-banner {
                position:absolute;
                margin-left:20px;
               
            }

            .fa-search{
                display:block;
                position:absolute;
                
                top:17px;
                right:30px;
                
                font-size:20px;
             }
           
           
        }
        @media only screen and (min-width:700px) and (max-width:1050px) {
            .global-header__nav{
               
                display:none;    
        
                }
                .lang {
                    display:none;
                }
                .top-left > p {
                    display:none;
                }
                .subscribe{
                    display:none;
                }
               
                .top-right {
                    display:none;
                }
                .logo-banner::before {
                    content:"\f0c9";
                        font-family: "Font Awesome 5 Free";
                        font-weight:900;
                        width:40px;
                        display:inline-block;
                        margin-left:0px;
                        position:absolute;
                        left:-20px;
                        top:5px;
                    }
                    .logo-banner {
                        position:absolute;
                        margin-left:20px;
                       
                    }
        
                    .logo-banner > i {
                        display:none;
                    }
                    .fa-search{
                        display:block;
                        position:absolute;
                        
                        top:17px;
                        right:30px;
                        
                        font-size:20px;
                     }
                     .insights {
                        width:270px;
                        line-height:40.7px;
                        /* word-wrap:break-word; */
                        font-family:Roboto, sans-serif;
                        font-size:29px;
                        font-style: normal;
                        color:#424242;
                    }
                    .top-wrap {
                      position:absolute;
                      width:100%;
                      top:70px;
                      left:30px;
                      display:flex;
                      text-align:left;
                      justify-content: space-between;
                   /*   background-color:green; */
                  }
                  .first-row-wrap > h2 {
                  display:none;
                }
                   



                   
                    
                 
                   
        } 
               
           
     

    

                      

                         
                            
                          
                               
                
                 
                
               
                 
                       
                
                
                 
                 
                     
                    
                 
                 
               
               

  